{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "plugin:lodash-fp/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "flowtype",
    "lodash-fp",
    "you-dont-need-lodash-underscore/compatible"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/prefer-stateless-function": [
      2,
      {
        "ignorePureComponents": true
      }
    ]
  }
}
