.body
  display flex
  align-items center
  height auto
  flex-direction column
  color #28FC91
  border 2px solid #28FC91
  margin 2px
  padding 1em

.button
  color #28FC91

.form
  display flex
  flex-direction column
  justify-content space-between

.formButtons
  display flex
  flex 1 1 auto
  justify-content space-between

.inputDiv
  margin-bottom 10px
  display flex
  justify-content center  