.chatStyle
  overflow-y scroll
  order 0 !important
  flex 1 1 95%

.lineStyle
  color #28FC91
  min-height: 20px
  margin 2px
  overflow auto
  display flex
  text-shadow 3.4px 0 1px rgba(0, 30, 255, 0.5), -3.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px !important


.timeStamp
  @media (max-width: 1024px)
    display: none !important
